@import "tailwindcss";

@theme {
  --color-bg-light: var(--color-background-light, #F9FAFB);
  --color-foreground-light: var(--color-foreground-light, #171717);
  --color-card-bg-light: var(--color-card-bg-light, #FFFFFF);

  --color-primary-light: var(--color-primary-light, #2563EB);
  --color-accent-light: var(--color-accent-light, #F59E0B);

  --color-text-light: var(--color-text-light, #111827);
  --color-secondary-text-light: var(--color-secondary-text-light, #6B7280);

  --color-bg-dark: var(--background-dark, #0F172A);
  --color-foreground-dark: var(--foreground-dark, #1E293B);
  --color-card-bg-dark: var(--color-card-bg-dark, #FFFFFF);

  --color-primary-dark: var(--color-primary-dark, #3B82F6);
  --color-accent-dark: var(--color-accent-dark, #1E293B);

  --color-text-dark: var(--color-text-dark, #F9FAFB);
  --color-secondary-text-dark: var(--color-secondary-text-dark, #9CA3AF);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-geist-sans: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-geist-mono: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", monospace;

  --color-background-light: #F9FAFB;
  --color-foreground-light: #171717;
  --color-primary-light: #2563EB;
  --color-accent-light: #F59E0B;
  --color-text-light: #111827;
  --color-secondary-text-light: #6B7280;
  --color-card-bg-light: #FFFFFF;

  /* dark theme */
  --color-background-dark: #0F172A;
  --color-foreground-dark: #1E293B;
  --color-primary-dark: #3B82F6;
  --color-accent-dark: #FBBF24;
  --color-text-dark: #f9fafbfb;
  --color-secondary-text-dark: #9CA3AF;
  --color-card-bg-dark: #1E293B;
}

@custom-variant dark (&:where(.dark, .dark *));

.app-bg-light {
  background: linear-gradient(135deg,
      #f9fafb 0%,
      #e0f2fe 50%,
      #dbeafe 100%);
}

.app-bg-dark {
  background: linear-gradient(135deg,
      #0f172a 0%,
      #1e293b 50%,
      #312e81 100%);
}

.app-bg {
  background: linear-gradient(135deg,
      #f9fafb 0%,
      #e0f2fe 50%,
      #dbeafe 100%);
}

.dark .app-bg {
  background: linear-gradient(135deg,
      #0f172a 0%,
      #1e293b 50%,
      #312e81 100%);
}

/* @reference "tailwindcss"; */

.section-title {
  @apply text-wrap whitespace-nowrap text-accent-light dark:text-accent-dark flex shrink justify-between items-center relative z-9;
}

.section-title::before {
  content: "";
  @apply bg-blue-900 dark:bg-blue-300 rounded-full w-[7.75%] h-1 block relative z-[-1];
}

.section-title::after {
  content: "";
  @apply bg-blue-900 dark:bg-blue-300 rounded-full w-[70%] h-1 block relative z-[-1];
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
